HELP.md
target/
/mf-frontend/node/
/mf-frontend/node_modules/
/mf-frontend/dist/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/reference/
!**/src/test/**/reference/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### token files ###
**/application-token.yml
/gateway-service/reference/classes/static/assets/js/app.8e2c03c2.js
/gateway-service/reference/classes/static/assets/js/app.8e2c03c2.js.map
/gateway-service/reference/classes/static/assets/js/chunk-vendors.979dc7af.js
/gateway-service/reference/classes/static/assets/js/chunk-vendors.979dc7af.js.map
/gateway-service/reference/classes/static/assets/css/chunk-vendors.15356d1d.css
/gateway-service/reference/classes/static/favicon.ico
/gateway-service/reference/classes/static/index.html
